:root {
    --sizeMenuBarText: var(--sizeH4);
    --menuBarBackground: var(--primaryUI);
    --menuBarText: var(--primaryUIText);
    --actionButton: var(--secondaryUI);
    --actionButtonText: var(--secondaryUIText);
    --actionButtonPress: var(--secondaryUIPress);
    --menuTitleBackground: var(--primaryUI);
    --menuTitleText: var(--primaryUIText);
    --menuButtonHover: rgba(0, 0, 0, 0.2);
    --menuTextText: var(--blur);
    --menuDivider: var(--menuButtonHover);
}

body {
    z-index: -2;
}

div[menubar] {
    position: relative;
    margin: 0;
    padding: 10px;
    height: calc(var(--sizeMenuBarText) + 5px);
    background-color: var(--menuBarBackground);
    color: var(--menuBarText);
    font-size: var(--sizeMenuBarText);
    z-index: -2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: default;
}

div[menubar] span, div[menutitle] span {
    margin: 0 2.5px 0 2.5px;
}

button[menubarbutton] {
    margin: -5px 2.5px 0 2.5px!important;
    padding: 5px 5px 0 5px!important;
    font-size: calc(var(--sizeMenuBarText) + 2px)!important;
    vertical-align: middle!important;
}

button[actionbutton] {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    float: right;
    background-color: var(--actionButton)!important;
    color: var(--actionButtonText)!important;
    font-size: 20px!important;
    border-radius: 25px!important;
}

button[actionbutton]:hover {
    background-color: var(--actionButtonPress)!important;
}

[dir="rtl"] button[actionbutton] {
    right: unset;
    left: 10px;
}

button[actionbutton] icon {
    position: relative;
    top: 2px;
}

button[actionbutton] + div[menubar] {
    padding-right: 80px;
}

[dir="rtl"] button[actionbutton] + div[menubar] {
    padding-right: 10px;
    padding-left: 80px;
}

div[menu] {
    position: absolute;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    margin: 0;
    background-color: var(--primaryBackground);
    transition: left 0.5s;
}

div[menu][open] {
    left: 0;
}

[dir="rtl"] div[menu] {
    left: unset;
    right: -250px;
    transition: right 0.5s;
}

[dir="rtl"] div[menu][open] {
    left: unset;
    right: 0;
}

div[menublur] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: var(--blur);
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: opacity 0.5s;
}

div[menu][open] > div[menublur] {
    opacity: 1;
    pointer-events: unset;
}

button[menuclose] {
    position: absolute;
    top: -55px;
    left: 0;
    width: 240px;
    height: 50px;
    background-color: var(--secondaryUI)!important;
    color: var(--secondaryUIText)!important;
    z-index: 1;
    transition: 0.5s top;
}

button[menuclose]:focus {
    top: 0;
}

div[menutitle] {
    position: relative;
    margin: 0;
    padding: 10px;
    height: calc(var(--sizeMenuBarText) + 5px);
    background-color: var(--menuTitleBackground);
    color: var(--menuTitleText);
    font-size: var(--sizeMenuBarText);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: default;
    outline: none;
}

div[menucontent] {
    position: absolute;
    width: 100%;
    height: calc(100vh - 25px - var(--sizeMenuBarText));
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow: overlay;
    outline: none!important;
}

button[menubutton], div[menutext] {
    display: block!important;
    width: 100%!important;
    margin: 0!important;
    background-color: transparent!important;
    color: var(--primaryText)!important;
    border-radius: 0!important;
    text-align: left!important;
}

button[menubutton]:hover {
    background-color: var(--menuButtonHover)!important;
}

div[menutext] {
    width: calc(100% - 20px)!important;
    padding: 10px!important;
    color: var(--menuTextText)!important;
    cursor: default!important;
    outline: none!important;
}

hr[menudivider] {
    border: 1px solid var(--menuDivider);
    outline: none!important;
}

div[appcontent] {
    position: absolute;
    height: calc(100vh - 25px - var(--sizeMenuBarText));
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
    overflow: overlay;
    z-index: -2;
}

@media (max-width: 500px) {
    button[menubutton]:hover {
        background-color: transparent!important;
    }

    button[menubutton]:active {
        background-color: var(--menuButtonHover)!important;
    }
}